div.board {
    background-image: url("../img/table.jpg");
    max-width: 800px;
}

.card-place {
    background-color: rgba(0,0,0,0.3);
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-size {
    height: 30vh;
    /* TODO use max-height and min-height */
}

.card-face {
    background-color: #EEEEEE;
    border-radius: 5px;
    font-weight: bold;
    font-size: x-large;
}

.card-id-bottom {
    vertical-align: bottom;
    float: none;
    display: table-cell;
}

.red {color: red;}

.card-content {
    margin-left: 5px;
    cursor: default;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}