div.board {
    background-image: url("../img/table.jpg");
    background-size: cover;
}

.card-place {
    background-color: rgba(0,0,0,0.3);
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 10vw;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}

.card-size {
    height: 15vw;
}

.card-face {
    background-color: #EEEEEE;
    border-radius: 5pt;
    font-weight: bold;
    font-size: x-large;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.card-id-bottom {
    vertical-align: bottom;
    float: none;
    display: table-cell;
}

.red {color: red;}

.card-content {
    margin-left: 5px;
    cursor: default;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.test-result {
    padding: 5vh;
    height: 30vh;
    font-weight: 800;
}

.test-failed {
    background-color: darkred;
}

.test-success {
    background-color: darkgreen;
}

.facing-down {
    background-image: url("../img/card-back.jpg");
    border-radius: 5pt;
    background-position: center;
    background-size: cover;
}